@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #475577 !important;
}
.bg-success {
  background-color: #7e9b9f !important;
}
.bg-info {
  background-color: #0838c9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-secondary {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-info {
  background-color: #0838c9;
  border-color: #0838c9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #05247f;
  border-color: #05247f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #05247f !important;
  border-color: #05247f !important;
}
.btn-success {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-info-outline {
  background: none;
  border-color: #041d67;
  color: #041d67;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0838c9;
  border-color: #0838c9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0838c9 !important;
  border-color: #0838c9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #475577 !important;
}
.text-success {
  color: #7e9b9f !important;
}
.text-info {
  color: #0838c9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #7e9b9f;
}
.alert-info {
  background-color: #0838c9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #475577;
}
.btn-social:hover {
  background: #475577;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #475577;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #475577;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #475577;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #475577;
}
.lead a,
.lead a:hover {
  color: #475577;
}
.lead blockquote {
  border-color: #475577;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a2b8fb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #475577;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#header1-4 .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header1-4 .mbr-section-lead {
  font-size: 20px;
}
#ext_menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6 .navbar-caption {
  color: #ffffff;
}
#ext_menu-6 .navbar-toggler {
  color: #000000;
}
#ext_menu-6 .close-icon::before,
#ext_menu-6 .close-icon::after {
  background-color: #000000;
}
#ext_menu-6 .link,
#ext_menu-6 .dropdown-item {
  color: #000000;
}
#ext_menu-6 .link {
  font-size: 0.75rem;
}
#ext_menu-6 .dropdown-item,
#ext_menu-6 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6 .link:hover,
#ext_menu-6 .dropdown-item:hover,
#ext_menu-6 .link:focus,
#ext_menu-6 .dropdown-item:focus {
  color: #475577;
}
#ext_menu-6 .link[aria-expanded="true"],
#ext_menu-6 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-6 .nav-dropdown-sm .link:focus,
#ext_menu-6 .nav-dropdown-sm .link:hover,
#ext_menu-6 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-6 .navbar,
#ext_menu-6 .nav-dropdown-sm,
#ext_menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-6 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6 .bg-color.transparent.opened .link:hover,
#ext_menu-6 .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-6 .link[aria-expanded="true"],
#ext_menu-6 .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#header2-8 .mbr-section-title {
  color: #c1c1c1;
}
#header2-8 .mbr-section-title I {
  color: #ffffff;
}
#header2-8 .mbr-section-text {
  text-align: left;
}
#msg-box4-c H3 {
  font-size: 25px;
  text-align: center;
}
#msg-box4-c DIV {
  font-family: 'Lora', serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
#msg-box4-c .btn {
  font-size: 16px;
}
#content2-e DIV {
  text-align: left;
}
#ext_menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-g .navbar-caption {
  color: #ffffff;
}
#ext_menu-g .navbar-toggler {
  color: #000000;
}
#ext_menu-g .close-icon::before,
#ext_menu-g .close-icon::after {
  background-color: #000000;
}
#ext_menu-g .link,
#ext_menu-g .dropdown-item {
  color: #000000;
}
#ext_menu-g .link {
  font-size: 0.75rem;
}
#ext_menu-g .dropdown-item,
#ext_menu-g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-g .link:hover,
#ext_menu-g .dropdown-item:hover,
#ext_menu-g .link:focus,
#ext_menu-g .dropdown-item:focus {
  color: #475577;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-g .nav-dropdown-sm .link:focus,
#ext_menu-g .nav-dropdown-sm .link:hover,
#ext_menu-g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-g .navbar,
#ext_menu-g .nav-dropdown-sm,
#ext_menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-g .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-g .bg-color.transparent.opened .link:hover,
#ext_menu-g .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#msg-box8-1l .mbr-section-title,
#msg-box8-1l p {
  color: #fff;
}
#ext_menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-l .navbar-caption {
  color: #ffffff;
}
#ext_menu-l .navbar-toggler {
  color: #000000;
}
#ext_menu-l .close-icon::before,
#ext_menu-l .close-icon::after {
  background-color: #000000;
}
#ext_menu-l .link,
#ext_menu-l .dropdown-item {
  color: #000000;
}
#ext_menu-l .link {
  font-size: 0.75rem;
}
#ext_menu-l .dropdown-item,
#ext_menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-l .link:hover,
#ext_menu-l .dropdown-item:hover,
#ext_menu-l .link:focus,
#ext_menu-l .dropdown-item:focus {
  color: #475577;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-l .nav-dropdown-sm .link:focus,
#ext_menu-l .nav-dropdown-sm .link:hover,
#ext_menu-l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-l .navbar,
#ext_menu-l .nav-dropdown-sm,
#ext_menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-l .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-l .bg-color.transparent.opened .link:hover,
#ext_menu-l .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#msg-box8-70 .mbr-section-title,
#msg-box8-70 p {
  color: #fff;
}
#header2-7s .mbr-section-title {
  color: #c1c1c1;
}
#header2-7s .mbr-section-title I {
  color: #ffffff;
  font-size: 32px;
}
#header2-7s .mbr-section-text {
  text-align: left;
  font-size: 20px;
}
#msg-box6-7u .mbr-section-title,
#msg-box6-7u .lead p {
  color: #fff;
}
#msg-box6-7u H3 {
  font-size: 30px;
}
#ext_menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-m .navbar-caption {
  color: #ffffff;
}
#ext_menu-m .navbar-toggler {
  color: #000000;
}
#ext_menu-m .close-icon::before,
#ext_menu-m .close-icon::after {
  background-color: #000000;
}
#ext_menu-m .link,
#ext_menu-m .dropdown-item {
  color: #000000;
}
#ext_menu-m .link {
  font-size: 0.75rem;
}
#ext_menu-m .dropdown-item,
#ext_menu-m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-m .link:hover,
#ext_menu-m .dropdown-item:hover,
#ext_menu-m .link:focus,
#ext_menu-m .dropdown-item:focus {
  color: #475577;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-m .nav-dropdown-sm .link:focus,
#ext_menu-m .nav-dropdown-sm .link:hover,
#ext_menu-m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-m .navbar,
#ext_menu-m .nav-dropdown-sm,
#ext_menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-m .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-m .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-m .bg-color.transparent.opened .link:hover,
#ext_menu-m .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#msg-box8-s .mbr-section-title,
#msg-box8-s p {
  color: #fff;
}
#msg-box1-7o H3 {
  font-size: 30px;
}
#content2-7p P {
  font-size: 17px;
}
#ext_menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-v .navbar-caption {
  color: #ffffff;
}
#ext_menu-v .navbar-toggler {
  color: #000000;
}
#ext_menu-v .close-icon::before,
#ext_menu-v .close-icon::after {
  background-color: #000000;
}
#ext_menu-v .link,
#ext_menu-v .dropdown-item {
  color: #000000;
}
#ext_menu-v .link {
  font-size: 0.75rem;
}
#ext_menu-v .dropdown-item,
#ext_menu-v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-v .link:hover,
#ext_menu-v .dropdown-item:hover,
#ext_menu-v .link:focus,
#ext_menu-v .dropdown-item:focus {
  color: #475577;
}
#ext_menu-v .link[aria-expanded="true"],
#ext_menu-v .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-v .nav-dropdown-sm .link:focus,
#ext_menu-v .nav-dropdown-sm .link:hover,
#ext_menu-v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-v .navbar,
#ext_menu-v .nav-dropdown-sm,
#ext_menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-v .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-v .bg-color.transparent.opened .link:hover,
#ext_menu-v .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-v .link[aria-expanded="true"],
#ext_menu-v .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-1b .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-1b .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-5l .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-8j .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-8k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-1e .mbr-section-title,
#msg-box8-1e p {
  color: #fff;
}
#msg-box8-1h .mbr-section-title,
#msg-box8-1h p {
  color: #fff;
}
#msg-box8-5e .mbr-section-title,
#msg-box8-5e p {
  color: #fff;
}
#msg-box8-5j .mbr-section-title,
#msg-box8-5j p {
  color: #fff;
}
#msg-box8-5j .mbr-section-title SPAN {
  font-size: 36px;
}
#msg-box8-5j .mbr-section-title {
  font-size: 36px;
}
#msg-box8-5m .mbr-section-title,
#msg-box8-5m p {
  color: #fff;
}
#msg-box8-6o .mbr-section-title,
#msg-box8-6o p {
  color: #fff;
}
#msg-box8-6u .mbr-section-title,
#msg-box8-6u p {
  color: #fff;
}
#msg-box8-85 .mbr-section-title,
#msg-box8-85 .lead {
  color: #fff;
}
#msg-box8-87 .mbr-section-title,
#msg-box8-87 .lead {
  color: #fff;
}
#msg-box8-89 .mbr-section-title,
#msg-box8-89 .lead {
  color: #fff;
}
#msg-box8-8b .mbr-section-title,
#msg-box8-8b .lead {
  color: #fff;
}
#msg-box8-8d .mbr-section-title,
#msg-box8-8d .lead {
  color: #fff;
}
#msg-box8-8f .mbr-section-title,
#msg-box8-8f .lead {
  color: #fff;
}
#msg-box8-8h .mbr-section-title,
#msg-box8-8h .lead {
  color: #fff;
}
#ext_menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-w .navbar-caption {
  color: #ffffff;
}
#ext_menu-w .navbar-toggler {
  color: #000000;
}
#ext_menu-w .close-icon::before,
#ext_menu-w .close-icon::after {
  background-color: #000000;
}
#ext_menu-w .link,
#ext_menu-w .dropdown-item {
  color: #000000;
}
#ext_menu-w .link {
  font-size: 0.75rem;
}
#ext_menu-w .dropdown-item,
#ext_menu-w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-w .link:hover,
#ext_menu-w .dropdown-item:hover,
#ext_menu-w .link:focus,
#ext_menu-w .dropdown-item:focus {
  color: #475577;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-w .nav-dropdown-sm .link:focus,
#ext_menu-w .nav-dropdown-sm .link:hover,
#ext_menu-w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-w .navbar,
#ext_menu-w .nav-dropdown-sm,
#ext_menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-w .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-w .bg-color.transparent.opened .link:hover,
#ext_menu-w .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}


#header1-x .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header1-x .mbr-section-lead {
  font-size: 20px;
}
#ext_menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-y .navbar-caption {
  color: #ffffff;
}
#ext_menu-y .navbar-toggler {
  color: #000000;
}
#ext_menu-y .close-icon::before,
#ext_menu-y .close-icon::after {
  background-color: #000000;
}
#ext_menu-y .link,
#ext_menu-y .dropdown-item {
  color: #000000;
}
#ext_menu-y .link {
  font-size: 0.75rem;
}
#ext_menu-y .dropdown-item,
#ext_menu-y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-y .link:hover,
#ext_menu-y .dropdown-item:hover,
#ext_menu-y .link:focus,
#ext_menu-y .dropdown-item:focus {
  color: #475577;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-y .nav-dropdown-sm .link:focus,
#ext_menu-y .nav-dropdown-sm .link:hover,
#ext_menu-y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-y .navbar,
#ext_menu-y .nav-dropdown-sm,
#ext_menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-y .bg-color.transparent.opened .link:hover,
#ext_menu-y .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#header2-z .mbr-section-title {
  color: #c1c1c1;
}
#header2-z .mbr-section-title I {
  color: #ffffff;
  font-size: 32px;
}
#header2-z .mbr-section-text {
  text-align: left;
}
#msg-box4-10 H3 {
  font-size: 25px;
  text-align: center;
}
#msg-box4-10 DIV {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
#msg-box4-10 .btn {
  font-size: 16px;
}
#content2-11 DIV {
  text-align: left;
}
#ext_menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1n .navbar-caption {
  color: #ffffff;
}
#ext_menu-1n .navbar-toggler {
  color: #000000;
}
#ext_menu-1n .close-icon::before,
#ext_menu-1n .close-icon::after {
  background-color: #000000;
}
#ext_menu-1n .link,
#ext_menu-1n .dropdown-item {
  color: #000000;
}
#ext_menu-1n .link {
  font-size: 0.75rem;
}
#ext_menu-1n .dropdown-item,
#ext_menu-1n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1n .link:hover,
#ext_menu-1n .dropdown-item:hover,
#ext_menu-1n .link:focus,
#ext_menu-1n .dropdown-item:focus {
  color: #475577;
}
#ext_menu-1n .link[aria-expanded="true"],
#ext_menu-1n .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1n .nav-dropdown-sm .link:focus,
#ext_menu-1n .nav-dropdown-sm .link:hover,
#ext_menu-1n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1n .navbar,
#ext_menu-1n .nav-dropdown-sm,
#ext_menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1n .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1n .bg-color.transparent.opened .link:hover,
#ext_menu-1n .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-1n .link[aria-expanded="true"],
#ext_menu-1n .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-1o .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-1o .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-3n .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-5x .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-8t .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-83 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-1q .mbr-section-title,
#msg-box8-1q p {
  color: #fff;
}
#msg-box8-1t .mbr-section-title,
#msg-box8-1t p {
  color: #fff;
}
#msg-box8-1w .mbr-section-title,
#msg-box8-1w p {
  color: #fff;
}
#msg-box8-3o .mbr-section-title,
#msg-box8-3o p {
  color: #fff;
}
#msg-box8-3q .mbr-section-title,
#msg-box8-3q p {
  color: #fff;
}
#msg-box8-3s .mbr-section-title,
#msg-box8-3s p {
  color: #fff;
}
#msg-box8-50 .mbr-section-title,
#msg-box8-50 p {
  color: #fff;
}
#msg-box8-5q .mbr-section-title,
#msg-box8-5q p {
  color: #fff;
}
#msg-box8-5y .mbr-section-title,
#msg-box8-5y p {
  color: #fff;
}
#msg-box8-7v .mbr-section-title,
#msg-box8-7v p {
  color: #fff;
}
#msg-box8-7x .mbr-section-title,
#msg-box8-7x p {
  color: #fff;
}
#msg-box8-7z .mbr-section-title,
#msg-box8-7z p {
  color: #fff;
}
#msg-box8-81 .mbr-section-title,
#msg-box8-81 p {
  color: #fff;
}
#msg-box8-8l .mbr-section-title,
#msg-box8-8l .lead {
  color: #fff;
}
#msg-box8-8n .mbr-section-title,
#msg-box8-8n .lead {
  color: #fff;
}
#msg-box8-8p .mbr-section-title,
#msg-box8-8p .lead {
  color: #fff;
}
#msg-box8-8r .mbr-section-title,
#msg-box8-8r .lead {
  color: #fff;
}


#header1-1z .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header1-1z .mbr-section-lead {
  font-size: 20px;
}
#ext_menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-20 .navbar-caption {
  color: #ffffff;
}
#ext_menu-20 .navbar-toggler {
  color: #000000;
}
#ext_menu-20 .close-icon::before,
#ext_menu-20 .close-icon::after {
  background-color: #000000;
}
#ext_menu-20 .link,
#ext_menu-20 .dropdown-item {
  color: #000000;
}
#ext_menu-20 .link {
  font-size: 0.75rem;
}
#ext_menu-20 .dropdown-item,
#ext_menu-20 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-20 .link:hover,
#ext_menu-20 .dropdown-item:hover,
#ext_menu-20 .link:focus,
#ext_menu-20 .dropdown-item:focus {
  color: #475577;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-20 .nav-dropdown-sm .link:focus,
#ext_menu-20 .nav-dropdown-sm .link:hover,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-20 .navbar,
#ext_menu-20 .nav-dropdown-sm,
#ext_menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-20 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-20 .bg-color.transparent.opened .link:hover,
#ext_menu-20 .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#header2-21 .mbr-section-title {
  color: #c1c1c1;
}
#header2-21 .mbr-section-title I {
  color: #ffffff;
  font-size: 32px;
}
#header2-21 .mbr-section-text {
  text-align: left;
}
#msg-box4-22 H3 {
  font-size: 25px;
  text-align: center;
}
#msg-box4-22 DIV {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
#msg-box4-22 .btn {
  font-size: 16px;
}
#content2-23 DIV {
  text-align: left;
}


#header1-24 .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header1-24 .mbr-section-lead {
  font-size: 20px;
  text-align: left;
}
#ext_menu-25 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-25 .navbar-caption {
  color: #ffffff;
}
#ext_menu-25 .navbar-toggler {
  color: #000000;
}
#ext_menu-25 .close-icon::before,
#ext_menu-25 .close-icon::after {
  background-color: #000000;
}
#ext_menu-25 .link,
#ext_menu-25 .dropdown-item {
  color: #000000;
}
#ext_menu-25 .link {
  font-size: 0.75rem;
}
#ext_menu-25 .dropdown-item,
#ext_menu-25 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-25 .link:hover,
#ext_menu-25 .dropdown-item:hover,
#ext_menu-25 .link:focus,
#ext_menu-25 .dropdown-item:focus {
  color: #475577;
}
#ext_menu-25 .link[aria-expanded="true"],
#ext_menu-25 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-25 .nav-dropdown-sm .link:focus,
#ext_menu-25 .nav-dropdown-sm .link:hover,
#ext_menu-25 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-25 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-25 .navbar,
#ext_menu-25 .nav-dropdown-sm,
#ext_menu-25 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-25 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-25 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-25 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-25 .bg-color.transparent.opened .link:hover,
#ext_menu-25 .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-25 .link[aria-expanded="true"],
#ext_menu-25 .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#header2-26 .mbr-section-title {
  color: #c1c1c1;
}
#header2-26 .mbr-section-title I {
  color: #ffffff;
}
#header2-26 .mbr-section-text {
  text-align: right;
}
#msg-box4-27 H3 {
  font-size: 25px;
  text-align: center;
}
#msg-box4-27 DIV {
  font-family: 'Lora', serif;
  font-size: 16px;
  text-align: right;
  color: #000000;
}
#msg-box4-27 .btn {
  font-size: 16px;
}
#content2-28 DIV {
  text-align: left;
}
#content2-28 P {
  text-align: left;
}


#header1-2e .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header1-2e .mbr-section-lead {
  font-size: 20px;
}
#ext_menu-2f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2f .navbar-caption {
  color: #ffffff;
}
#ext_menu-2f .navbar-toggler {
  color: #000000;
}
#ext_menu-2f .close-icon::before,
#ext_menu-2f .close-icon::after {
  background-color: #000000;
}
#ext_menu-2f .link,
#ext_menu-2f .dropdown-item {
  color: #000000;
}
#ext_menu-2f .link {
  font-size: 0.75rem;
}
#ext_menu-2f .dropdown-item,
#ext_menu-2f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2f .link:hover,
#ext_menu-2f .dropdown-item:hover,
#ext_menu-2f .link:focus,
#ext_menu-2f .dropdown-item:focus {
  color: #475577;
}
#ext_menu-2f .link[aria-expanded="true"],
#ext_menu-2f .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2f .nav-dropdown-sm .link:focus,
#ext_menu-2f .nav-dropdown-sm .link:hover,
#ext_menu-2f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2f .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2f .navbar,
#ext_menu-2f .nav-dropdown-sm,
#ext_menu-2f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2f .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2f .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2f .bg-color.transparent.opened .link:hover,
#ext_menu-2f .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-2f .link[aria-expanded="true"],
#ext_menu-2f .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#header2-2g .mbr-section-title {
  color: #c1c1c1;
}
#header2-2g .mbr-section-title I {
  color: #ffffff;
}
#header2-2g .mbr-section-text {
  text-align: left;
}
#msg-box4-2h H3 {
  font-size: 25px;
  text-align: center;
}
#msg-box4-2h DIV {
  font-family: 'Lora', serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
#msg-box4-2h .btn {
  font-size: 16px;
}
#content2-2i DIV {
  text-align: left;
}


#header1-2j .btn {
  font-family: 'Ubuntu', sans-serif;
}
#header1-2j .mbr-section-lead {
  font-size: 20px;
}
#ext_menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2k .navbar-caption {
  color: #ffffff;
}
#ext_menu-2k .navbar-toggler {
  color: #000000;
}
#ext_menu-2k .close-icon::before,
#ext_menu-2k .close-icon::after {
  background-color: #000000;
}
#ext_menu-2k .link,
#ext_menu-2k .dropdown-item {
  color: #000000;
}
#ext_menu-2k .link {
  font-size: 0.75rem;
}
#ext_menu-2k .dropdown-item,
#ext_menu-2k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2k .link:hover,
#ext_menu-2k .dropdown-item:hover,
#ext_menu-2k .link:focus,
#ext_menu-2k .dropdown-item:focus {
  color: #475577;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2k .nav-dropdown-sm .link:focus,
#ext_menu-2k .nav-dropdown-sm .link:hover,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2k .navbar,
#ext_menu-2k .nav-dropdown-sm,
#ext_menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2k .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2k .bg-color.transparent.opened .link:hover,
#ext_menu-2k .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#header2-2l .mbr-section-title {
  color: #c1c1c1;
}
#header2-2l .mbr-section-title I {
  color: #ffffff;
}
#header2-2l .mbr-section-text {
  text-align: left;
}
#msg-box4-2m H3 {
  font-size: 25px;
  text-align: center;
}
#msg-box4-2m DIV {
  font-family: 'Lora', serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
#msg-box4-2m .btn {
  font-size: 16px;
}
#content2-2n DIV {
  text-align: left;
}
#ext_menu-2z .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2z .navbar-caption {
  color: #ffffff;
}
#ext_menu-2z .navbar-toggler {
  color: #000000;
}
#ext_menu-2z .close-icon::before,
#ext_menu-2z .close-icon::after {
  background-color: #000000;
}
#ext_menu-2z .link,
#ext_menu-2z .dropdown-item {
  color: #000000;
}
#ext_menu-2z .link {
  font-size: 0.75rem;
}
#ext_menu-2z .dropdown-item,
#ext_menu-2z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2z .link:hover,
#ext_menu-2z .dropdown-item:hover,
#ext_menu-2z .link:focus,
#ext_menu-2z .dropdown-item:focus {
  color: #475577;
}
#ext_menu-2z .link[aria-expanded="true"],
#ext_menu-2z .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2z .nav-dropdown-sm .link:focus,
#ext_menu-2z .nav-dropdown-sm .link:hover,
#ext_menu-2z .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2z .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2z .navbar,
#ext_menu-2z .nav-dropdown-sm,
#ext_menu-2z .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2z .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2z .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2z .bg-color.transparent.opened .link:hover,
#ext_menu-2z .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-2z .link[aria-expanded="true"],
#ext_menu-2z .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-30 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-30 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
  font-size: 20px;
}
#features1-5u .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-31 .mbr-section-title,
#msg-box8-31 p {
  color: #fff;
}
#msg-box8-34 .mbr-section-title,
#msg-box8-34 p {
  color: #fff;
}
#msg-box8-37 .mbr-section-title,
#msg-box8-37 p {
  color: #fff;
}
#msg-box8-5o .mbr-section-title,
#msg-box8-5o p {
  color: #fff;
}
#msg-box8-5v .mbr-section-title,
#msg-box8-5v p {
  color: #fff;
}
#msg-box8-6q .mbr-section-title,
#msg-box8-6q p {
  color: #fff;
}
#msg-box8-6s .mbr-section-title,
#msg-box8-6s p {
  color: #fff;
}
#ext_menu-4c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4c .navbar-caption {
  color: #ffffff;
}
#ext_menu-4c .navbar-toggler {
  color: #000000;
}
#ext_menu-4c .close-icon::before,
#ext_menu-4c .close-icon::after {
  background-color: #000000;
}
#ext_menu-4c .link,
#ext_menu-4c .dropdown-item {
  color: #000000;
}
#ext_menu-4c .link {
  font-size: 0.75rem;
}
#ext_menu-4c .dropdown-item,
#ext_menu-4c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-4c .link:hover,
#ext_menu-4c .dropdown-item:hover,
#ext_menu-4c .link:focus,
#ext_menu-4c .dropdown-item:focus {
  color: #475577;
}
#ext_menu-4c .link[aria-expanded="true"],
#ext_menu-4c .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-4c .nav-dropdown-sm .link:focus,
#ext_menu-4c .nav-dropdown-sm .link:hover,
#ext_menu-4c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-4c .navbar,
#ext_menu-4c .nav-dropdown-sm,
#ext_menu-4c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-4c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-4c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4c .bg-color.transparent.opened .link:hover,
#ext_menu-4c .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-4c .link[aria-expanded="true"],
#ext_menu-4c .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-4d .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-4d .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
  font-size: 20px;
}
#features1-4d .mbr-cards-col:nth-child(odd) .card-text {
  text-align: center;
}
#msg-box8-4e .mbr-section-title,
#msg-box8-4e p {
  color: #fff;
}
#msg-box8-4g .mbr-section-title,
#msg-box8-4g p {
  color: #fff;
}
#msg-box8-4i .mbr-section-title,
#msg-box8-4i p {
  color: #fff;
}
#ext_menu-4k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4k .navbar-caption {
  color: #ffffff;
}
#ext_menu-4k .navbar-toggler {
  color: #000000;
}
#ext_menu-4k .close-icon::before,
#ext_menu-4k .close-icon::after {
  background-color: #000000;
}
#ext_menu-4k .link,
#ext_menu-4k .dropdown-item {
  color: #000000;
}
#ext_menu-4k .link {
  font-size: 0.75rem;
}
#ext_menu-4k .dropdown-item,
#ext_menu-4k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-4k .link:hover,
#ext_menu-4k .dropdown-item:hover,
#ext_menu-4k .link:focus,
#ext_menu-4k .dropdown-item:focus {
  color: #475577;
}
#ext_menu-4k .link[aria-expanded="true"],
#ext_menu-4k .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-4k .nav-dropdown-sm .link:focus,
#ext_menu-4k .nav-dropdown-sm .link:hover,
#ext_menu-4k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-4k .navbar,
#ext_menu-4k .nav-dropdown-sm,
#ext_menu-4k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-4k .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-4k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4k .bg-color.transparent.opened .link:hover,
#ext_menu-4k .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-4k .link[aria-expanded="true"],
#ext_menu-4k .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-4l .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-4l .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
  font-size: 20px;
}
#features1-62 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-4m .mbr-section-title,
#msg-box8-4m p {
  color: #fff;
}
#msg-box8-4o .mbr-section-title,
#msg-box8-4o p {
  color: #fff;
}
#msg-box8-4q .mbr-section-title,
#msg-box8-4q p {
  color: #fff;
}
#msg-box8-60 .mbr-section-title,
#msg-box8-60 p {
  color: #fff;
}
#msg-box8-63 .mbr-section-title,
#msg-box8-63 p {
  color: #fff;
}
#msg-box8-66 .mbr-section-title,
#msg-box8-66 p {
  color: #fff;
}
#msg-box8-6a .mbr-section-title,
#msg-box8-6a p {
  color: #fff;
}
#ext_menu-4s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4s .navbar-caption {
  color: #ffffff;
}
#ext_menu-4s .navbar-toggler {
  color: #000000;
}
#ext_menu-4s .close-icon::before,
#ext_menu-4s .close-icon::after {
  background-color: #000000;
}
#ext_menu-4s .link,
#ext_menu-4s .dropdown-item {
  color: #000000;
}
#ext_menu-4s .link {
  font-size: 0.75rem;
}
#ext_menu-4s .dropdown-item,
#ext_menu-4s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-4s .link:hover,
#ext_menu-4s .dropdown-item:hover,
#ext_menu-4s .link:focus,
#ext_menu-4s .dropdown-item:focus {
  color: #475577;
}
#ext_menu-4s .link[aria-expanded="true"],
#ext_menu-4s .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-4s .nav-dropdown-sm .link:focus,
#ext_menu-4s .nav-dropdown-sm .link:hover,
#ext_menu-4s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-4s .navbar,
#ext_menu-4s .nav-dropdown-sm,
#ext_menu-4s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-4s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-4s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4s .bg-color.transparent.opened .link:hover,
#ext_menu-4s .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-4s .link[aria-expanded="true"],
#ext_menu-4s .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-4t .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-4t .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
  font-size: 20px;
}
#features1-6c .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-4u .mbr-section-title,
#msg-box8-4u p {
  color: #fff;
}
#content1-4v P {
  text-align: right;
}
#msg-box8-4w .mbr-section-title,
#msg-box8-4w p {
  color: #fff;
}
#content2-4x P {
  text-align: right;
}
#msg-box8-4y .mbr-section-title,
#msg-box8-4y p {
  color: #fff;
}
#content1-4z DIV {
  text-align: right;
}
#msg-box8-5h .mbr-section-title,
#msg-box8-5h p {
  color: #fff;
}
#content1-5i P {
  text-align: right;
}
#msg-box8-6d .mbr-section-title,
#msg-box8-6d p {
  color: #fff;
}
#msg-box8-6f .mbr-section-title,
#msg-box8-6f p {
  color: #fff;
}
#msg-box8-6h .mbr-section-title,
#msg-box8-6h p {
  color: #fff;
}
#ext_menu-52 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-52 .navbar-caption {
  color: #ffffff;
}
#ext_menu-52 .navbar-toggler {
  color: #000000;
}
#ext_menu-52 .close-icon::before,
#ext_menu-52 .close-icon::after {
  background-color: #000000;
}
#ext_menu-52 .link,
#ext_menu-52 .dropdown-item {
  color: #000000;
}
#ext_menu-52 .link {
  font-size: 0.75rem;
}
#ext_menu-52 .dropdown-item,
#ext_menu-52 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-52 .link:hover,
#ext_menu-52 .dropdown-item:hover,
#ext_menu-52 .link:focus,
#ext_menu-52 .dropdown-item:focus {
  color: #475577;
}
#ext_menu-52 .link[aria-expanded="true"],
#ext_menu-52 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-52 .nav-dropdown-sm .link:focus,
#ext_menu-52 .nav-dropdown-sm .link:hover,
#ext_menu-52 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-52 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-52 .navbar,
#ext_menu-52 .nav-dropdown-sm,
#ext_menu-52 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-52 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-52 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-52 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-52 .bg-color.transparent.opened .link:hover,
#ext_menu-52 .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-52 .link[aria-expanded="true"],
#ext_menu-52 .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#features1-53 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-53 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-6j .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-58 .mbr-section-title,
#msg-box8-58 p {
  color: #fff;
}
#msg-box8-58 .mbr-section-title {
  text-align: center;
  font-size: 36px;
}
#msg-box8-5a .mbr-section-title,
#msg-box8-5a p {
  color: #fff;
}
#msg-box8-5c .mbr-section-title,
#msg-box8-5c p {
  color: #fff;
}
#msg-box8-5s .mbr-section-title,
#msg-box8-5s p {
  color: #fff;
}
#msg-box8-6k .mbr-section-title,
#msg-box8-6k p {
  color: #fff;
}
#msg-box8-6m .mbr-section-title,
#msg-box8-6m p {
  color: #fff;
}
#ext_menu-6x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6x .navbar-caption {
  color: #ffffff;
}
#ext_menu-6x .navbar-toggler {
  color: #000000;
}
#ext_menu-6x .close-icon::before,
#ext_menu-6x .close-icon::after {
  background-color: #000000;
}
#ext_menu-6x .link,
#ext_menu-6x .dropdown-item {
  color: #000000;
}
#ext_menu-6x .link {
  font-size: 0.75rem;
}
#ext_menu-6x .dropdown-item,
#ext_menu-6x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6x .link:hover,
#ext_menu-6x .dropdown-item:hover,
#ext_menu-6x .link:focus,
#ext_menu-6x .dropdown-item:focus {
  color: #475577;
}
#ext_menu-6x .link[aria-expanded="true"],
#ext_menu-6x .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-6x .nav-dropdown-sm .link:focus,
#ext_menu-6x .nav-dropdown-sm .link:hover,
#ext_menu-6x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-6x .navbar,
#ext_menu-6x .nav-dropdown-sm,
#ext_menu-6x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-6x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-6x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6x .bg-color.transparent.opened .link:hover,
#ext_menu-6x .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-6x .link[aria-expanded="true"],
#ext_menu-6x .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#ext_menu-72 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-72 .navbar-caption {
  color: #ffffff;
}
#ext_menu-72 .navbar-toggler {
  color: #000000;
}
#ext_menu-72 .close-icon::before,
#ext_menu-72 .close-icon::after {
  background-color: #000000;
}
#ext_menu-72 .link,
#ext_menu-72 .dropdown-item {
  color: #000000;
}
#ext_menu-72 .link {
  font-size: 0.75rem;
}
#ext_menu-72 .dropdown-item,
#ext_menu-72 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-72 .link:hover,
#ext_menu-72 .dropdown-item:hover,
#ext_menu-72 .link:focus,
#ext_menu-72 .dropdown-item:focus {
  color: #475577;
}
#ext_menu-72 .link[aria-expanded="true"],
#ext_menu-72 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-72 .nav-dropdown-sm .link:focus,
#ext_menu-72 .nav-dropdown-sm .link:hover,
#ext_menu-72 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-72 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-72 .navbar,
#ext_menu-72 .nav-dropdown-sm,
#ext_menu-72 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-72 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-72 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-72 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-72 .bg-color.transparent.opened .link:hover,
#ext_menu-72 .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-72 .link[aria-expanded="true"],
#ext_menu-72 .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#msg-box8-73 .mbr-section-title,
#msg-box8-73 p {
  color: #fff;
}
#content2-74 DIV {
  text-align: right;
}
#ext_menu-75 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-75 .navbar-caption {
  color: #ffffff;
}
#ext_menu-75 .navbar-toggler {
  color: #000000;
}
#ext_menu-75 .close-icon::before,
#ext_menu-75 .close-icon::after {
  background-color: #000000;
}
#ext_menu-75 .link,
#ext_menu-75 .dropdown-item {
  color: #000000;
}
#ext_menu-75 .link {
  font-size: 0.75rem;
}
#ext_menu-75 .dropdown-item,
#ext_menu-75 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-75 .link:hover,
#ext_menu-75 .dropdown-item:hover,
#ext_menu-75 .link:focus,
#ext_menu-75 .dropdown-item:focus {
  color: #475577;
}
#ext_menu-75 .link[aria-expanded="true"],
#ext_menu-75 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-75 .nav-dropdown-sm .link:focus,
#ext_menu-75 .nav-dropdown-sm .link:hover,
#ext_menu-75 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-75 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-75 .navbar,
#ext_menu-75 .nav-dropdown-sm,
#ext_menu-75 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-75 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-75 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-75 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-75 .bg-color.transparent.opened .link:hover,
#ext_menu-75 .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-75 .link[aria-expanded="true"],
#ext_menu-75 .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
#msg-box8-76 .mbr-section-title,
#msg-box8-76 p {
  color: #fff;
}
#ext_menu-9y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9y .navbar-caption {
  color: #ffffff;
}
#ext_menu-9y .navbar-toggler {
  color: #000000;
}
#ext_menu-9y .close-icon::before,
#ext_menu-9y .close-icon::after {
  background-color: #000000;
}
#ext_menu-9y .link,
#ext_menu-9y .dropdown-item {
  color: #000000;
}
#ext_menu-9y .link {
  font-size: 0.75rem;
}
#ext_menu-9y .dropdown-item,
#ext_menu-9y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-9y .link:hover,
#ext_menu-9y .dropdown-item:hover,
#ext_menu-9y .link:focus,
#ext_menu-9y .dropdown-item:focus {
  color: #475577;
}
#ext_menu-9y .link[aria-expanded="true"],
#ext_menu-9y .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-9y .nav-dropdown-sm .link:focus,
#ext_menu-9y .nav-dropdown-sm .link:hover,
#ext_menu-9y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-9y .navbar,
#ext_menu-9y .nav-dropdown-sm,
#ext_menu-9y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-9y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-9y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9y .bg-color.transparent.opened .link:hover,
#ext_menu-9y .bg-color.transparent.opened .link:focus {
  color: #475577;
}
#ext_menu-9y .link[aria-expanded="true"],
#ext_menu-9y .dropdown-item[aria-expanded="true"] {
  color: #475577!important;
}
